@import "../../../styles/variables";

.cardContent,
.actionItems {
	list-style: none;
	padding-left: 0;
}
.actionItems {
	display: flex;
	float: right;

	.delete {
		font-size: 0.9rem;
		border-radius: 50%;
		padding: 0.9rem;
		background: $red-color-1;
		cursor: pointer;
		box-shadow: 0.3rem 0.3rem 0.5rem 0.1rem rgba(0, 0, 0, 0.8);
		&:hover {
			background: $red-color-2;
		}
	}
	.edit {
		font-size: 0.9rem;
		border-radius: 50%;
		padding: 1rem;
		background: $green-color-1;
		margin-left: 0.1rem;
		cursor: pointer;
		box-shadow: 0.3rem 0.3rem 0.5rem 0.1rem rgba(0, 0, 0, 0.8);
		&:hover {
			background: $green-color-2;
		}
	}
}
