@import "../../../styles/variables";
.tableWrapper {
	border-collapse: collapse;
	width: 100%;
	th,
	td {
		border: 1px solid $green-color-3;
		padding: 0.6rem;
	}
	th {
		color: $white-color-2;
	}
	th {
		background: $green-color-4;
	}
	.actionItems {
		display: flex;
		padding: 0 1rem;
	}
}
