@import "../../../styles/variables";
.customControls {
	display: flex;
	padding: 0.5rem;
	label {
		width: 20%;
	}
	select {
		width: 80%;
		height: 2rem;
		height: 3rem;
		background: $white-color-1;
		border: none;
	}
}
.errors {
	padding-left: 21%;
	color: $red-color-1;
}
