// black variations
$black-color-1: #696464;

// red variation
$red-color-1: #f82929;
$red-color-2: #e03434;

//white variations
$white-color-1: #f0f0f0;
$white-color-2: #ffffff;

//green variations
$green-color-1: #1bbd09;
$green-color-2: #5dcb51;
$green-color-3: #2bd640;
$green-color-4: #59bd1a;

//blue variations
$blue-color-1: #1d0da6;
$black-color-2: #3426b1;
